

@CHARSET "ISO-8859-1";

td {
	color: blue;
	font-weight: bolder;
}

.table{
	position: relative;
	max-width: 60%;
	left: 10%;
	margin-bottom: 5%;
}

#checkout{
	position: relative;
	left: 50%;
}

footer{
	margin-top: 15%;
}

.jumbotron{
	position: relative;
	left: 7%;
	margin-top: 5%;
	color: red;
	max-width: 80%;
}