@CHARSET "ISO-8859-1";

#logo{
	margin-left:3%;
}

#cart{
	position: absolute;
	top:8%;
	right: 10%;
}

#cart div {
	font-family: arial;
	font-weight: bold;
	color: red;
}

p {
	font-weight: bold;
	color: red;
}