@CHARSET "ISO-8859-1";

#logo{
	margin-left:3%;
}

#cart{
	position: absolute;
	top:8%;
	right: 10%;
}

#cart div {
	font-family: arial;
	font-weight: bold;
	color: red;
}

p {
	font-weight: bold;
	color: red;
}

#topButtons{
	position: absolute;
	right: 11%;
	top: 5%;
}

#topButtons button{
	background-color: #FAFAFA;
	border-style: solid;
	border-width: thin;
	border-color: #B8B8B8;	
	border-radius: 7px;
	font-size: small;
	color: black;
}