<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.1.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<context:annotation-config />
	
	<!-- Beans -->
	<bean id="ProductDAO" class="com.fdmgroup.chocolatestore.dao.ProductDAO" scope="prototype"/>
	<bean id="SaleDAO" class="com.fdmgroup.chocolatestore.dao.SaleDAO" scope="prototype"/>
	<bean id="UserDAO" class="com.fdmgroup.chocolatestore.dao.UserDAO" scope="prototype"/>
	<bean id ="ProductSaleDAO" class="com.fdmgroup.chocolatestore.dao.ProductSaleDAO" scope="prototype"/>
	<bean id="BusinessLogic" class="com.fdmgroup.springmvc.BusinessLogic" scope="prototype"/>
	
	<bean id="User" class="com.fdmgroup.chocolatestore.entities.User" scope="prototype"/>
	<bean id="Product" class="com.fdmgroup.chocolatestore.entities.Product" scope="prototype"/>
	<bean id="ProductSale" class="com.fdmgroup.chocolatestore.entities.ProductSale" scope="prototype"/>
	<bean id="Sale" class="com.fdmgroup.chocolatestore.entities.Sale" scope="prototype"/>
	
	<bean id="psList" class="java.util.ArrayList"/>

	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<aop:config>
		
	</aop:config>
	
	

</beans>
